/* 
 * c-css by U4EA Technologies - Allan Jardine
 * Version:       1.2.c.1
 * Browser:       Gecko 1.9
 * Browser group: cssA
 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal; }
ol,ul { list-style:none; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal; }
q:before,q:after { content:''; }
abbr,acronym { border:0; }
.syntaxhighlighter,
.syntaxhighlighter div,
.syntaxhighlighter code,
.syntaxhighlighter span,
.syntaxhighlighter .bold,
.syntaxhighlighter .italic,
.syntaxhighlighter .line,
.syntaxhighlighter .line .number,
.syntaxhighlighter .line .content,
.syntaxhighlighter .line .content .block,
.syntaxhighlighter .line .content .spaces,
.syntaxhighlighter .bar,
.syntaxhighlighter .ruler,
.syntaxhighlighter .toolbar,
.syntaxhighlighter .toolbar a,
.syntaxhighlighter .toolbar a:hover { margin: 0; padding: 0; border: 0; outline: 0; background: none; text-align: left; float: none; vertical-align: baseline; position: static; left: auto; top: auto; right: auto; bottom: auto; height: auto; width: auto; line-height: normal; font-family: "Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace; font-weight: normal; font-style: normal; font-size: 14px; }
.syntaxhighlighter { width: 100%; margin: 1em 0 1em 0; padding: 1px; position: relative; }
.syntaxhighlighter .bold { font-weight: bold; }
.syntaxhighlighter .italic { font-style: italic; }
.syntaxhighlighter .line .number { float: left; width: 3em; padding-right: .3em; text-align: right; display: block; }
.syntaxhighlighter.nogutter .line .number { display: none; }
.syntaxhighlighter .line .content { margin-left: 3.3em; padding-left: .5em; display: block; }
.syntaxhighlighter .line .content .block { display: block; padding-left: 1.5em; text-indent: -1.5em; }
.syntaxhighlighter .line .content .spaces { display: none; }
.syntaxhighlighter.nogutter .line .content { margin-left: 0; border-left: none; }
.syntaxhighlighter .bar { }
.syntaxhighlighter.collapsed .bar { }
.syntaxhighlighter.nogutter .ruler { margin-left: 0; padding-left: 0; }
.syntaxhighlighter .ruler { padding: 0 0 .5em .5em; margin-left: 3.3em; overflow: hidden; }
.syntaxhighlighter.collapsed .lines,
.syntaxhighlighter.collapsed .ruler { display: none; }
.syntaxhighlighter .toolbar { position: absolute; right: 0px; top: 0px; font-size: 1px; padding: 8px 8px 8px 0; }
.syntaxhighlighter.collapsed .toolbar { font-size: 80%; padding: .2em 0 .5em .5em; position: static; }
.syntaxhighlighter .toolbar a.item,
.syntaxhighlighter .toolbar .item { display: block; float: left; margin-left: 8px; background-repeat: no-repeat; overflow: hidden; text-indent: -5000px; }
.syntaxhighlighter.collapsed .toolbar .item { display: none; }
.syntaxhighlighter.collapsed .toolbar .item.expandSource { background-image: url(magnifier.png); display: inline; text-indent: 0; width: auto; float: none; height: 16px; padding-left: 20px; }
.syntaxhighlighter .toolbar .item.viewSource { background-image: url(page_white_code.png); }
.syntaxhighlighter .toolbar .item.printSource { background-image: url(printer.png); }
.syntaxhighlighter .toolbar .item.copyToClipboard { text-indent: 0; background: none; overflow: visible; }
.syntaxhighlighter .toolbar .item.about { background-image: url(help.png); }
.syntaxhighlighter.printing,
.syntaxhighlighter.printing .line.alt1 .content,
.syntaxhighlighter.printing .line.alt2 .content,
.syntaxhighlighter.printing .line.highlighted .number,
.syntaxhighlighter.printing .line.highlighted.alt1 .content,
.syntaxhighlighter.printing .line.highlighted.alt2 .content,
.syntaxhighlighter.printing .line .content .block { background: none; }
.syntaxhighlighter.printing .line .number { color: #bbb; }
.syntaxhighlighter.printing .line .content { color: #000; }
.syntaxhighlighter.printing .toolbar,
.syntaxhighlighter.printing .ruler { display: none; }
.syntaxhighlighter.printing a { text-decoration: none; }
.syntaxhighlighter.printing .plain,
.syntaxhighlighter.printing .plain a { color: #000; }
.syntaxhighlighter.printing .comments,
.syntaxhighlighter.printing .comments a { color: #008200; }
.syntaxhighlighter.printing .string,
.syntaxhighlighter.printing .string a { color: blue; }
.syntaxhighlighter.printing .keyword { color: #069; font-weight: bold; }
.syntaxhighlighter.printing .preprocessor { color: gray; }
.syntaxhighlighter.printing .variable { color: #a70; }
.syntaxhighlighter.printing .value { color: #090; }
.syntaxhighlighter.printing .functions { color: #ff1493; }
.syntaxhighlighter.printing .constants { color: #0066CC; }
.syntaxhighlighter.printing .script { font-weight: bold; }
.syntaxhighlighter.printing .color1,
.syntaxhighlighter.printing .color1 a { color: #808080; }
.syntaxhighlighter.printing .color2,
.syntaxhighlighter.printing .color2 a { color: #ff1493; }
.syntaxhighlighter.printing .color3,
.syntaxhighlighter.printing .color3 a { color: red; }
.syntaxhighlighter { background-color: #E7E5DC; }
.syntaxhighlighter .line.highlighted .number { background-color: #4E6CA3; color: black; }
.syntaxhighlighter .line.highlighted.alt1 .content,
.syntaxhighlighter .line.highlighted.alt2 .content { background-color: #4E6CA3; }
.syntaxhighlighter .line .number { color: #5C5C5C; }
.syntaxhighlighter .line .content { border-left: 3px solid #4E6CA3; color: #000; }
.syntaxhighlighter.printing .line .content { border: 0; }
.syntaxhighlighter .line.alt1 .content { background-color: #fff; }
.syntaxhighlighter .line.alt2 .content { background-color: #F8F8F8; }
.syntaxhighlighter .line .content .block { background: url(wrapping.png) 0 1.3em no-repeat; }
.syntaxhighlighter .ruler { color: silver; background-color: #F8F8F8; border-left: 3px solid #4E6CA3; }
.syntaxhighlighter.nogutter .ruler { border: 0; }
.syntaxhighlighter .toolbar { background-color: #F8F8F8; border: #E7E5DC solid 1px; }
.syntaxhighlighter .toolbar a { color: #a0a0a0; }
.syntaxhighlighter .toolbar a:hover { color: red; }
.syntaxhighlighter .plain,
.syntaxhighlighter .plain a { color: #000; }
.syntaxhighlighter .comments,
.syntaxhighlighter .comments a { color: #008200; }
.syntaxhighlighter .string,
.syntaxhighlighter .string a { color: blue; }
.syntaxhighlighter .keyword { color: #069; font-weight: bold; }
.syntaxhighlighter .preprocessor { color: gray; }
.syntaxhighlighter .variable { color: #a70; }
.syntaxhighlighter .value { color: #090; }
.syntaxhighlighter .functions { color: #ff1493; }
.syntaxhighlighter .constants { color: #0066CC; }
.syntaxhighlighter .script { background-color: yellow !important; }
.syntaxhighlighter .color1,
.syntaxhighlighter .color1 a { color: #808080; }
.syntaxhighlighter .color2,
.syntaxhighlighter .color2 a { color: #ff1493; }
.syntaxhighlighter .color3,
.syntaxhighlighter .color3 a { color: red; }
html, body { margin: 0; padding: 0; width: 100%; font: 100%/1.45em "Lucida Grande", Verdana, Arial, Helvetica, sans-serif; color: #111; }
body.grid_1_2 { }
body.grid_2_3 { }
#fw_container { width: 980px; padding-top: 2em; margin: 0 auto; }
#fw_content { }
#fw_footer { padding-top: 4em; font-size: 75%; }
body.grid_1_2 .grid_column_1 { width: 470px; padding-right: 20px; float: left; }
body.grid_1_2 .grid_column_2 { width: 470px; padding-left: 20px; float: right; }
body.grid_2_3 .grid_column_1 { width: 633px; padding-right: 20px; float: left; }
body.grid_2_3 .grid_column_2 { width: 306px; padding-left: 20px; float: right; }
body.grid_3_2 .grid_column_1 { width: 306px; padding-right: 20px; float: right; }
body.grid_3_2 .grid_column_2 { width: 633px; padding-left: 20px; float: left; }
.grid_column_1r { width: 306px; padding-right: 20px; float: left; }
.grid_column_2r { width: 633px; padding-left: 20px; float: right; }
.grid_full { width: 100%; }
.full_width { width: 980px; }
#fw_header { margin-bottom: 1.5em; position: relative; }
.forums #fw_header { margin-bottom: 0em; }
#fw_header ul { padding-top: 10px; padding-left: 28px; }
#fw_header li { float: left; padding: 0 8px; }
#fw_header li a { padding: 0 10px; }
#fw_header li a:hover { text-decoration: none; border-bottom: 5px solid #829ac6; }
#fw_header li a.active { border-bottom: 5px solid #4E6CA3; }
#fw_header ul.submenu li a.active,
#fw_header ul.subsubmenu li a.active { border-bottom: 5px solid #829ac6; }
#fw_header ul.submenu, #fw_header ul.subsubmenu { padding-top: 0; margin-top: 1em; }
#fw_header ul.submenu_usage { padding-left: 45px; }
#fw_header ul.submenu_plugins { padding-left: 20px; }
#fw_header ul.submenu_development { padding-left: 50px; }
#fw_header ul.submenu_extras { padding-left: 0px; }
#fw_header ul.submenu_testing { padding-left: 480px; }
#fw_header ul.submenu_styling { padding-left: 80px; }
#fw_header ul.submenu li,
#fw_header ul.subsubmenu li { font-size: 85%; }
#fw_header ul.subsubmenu { padding-left: 120px; }
#fw_header h1 a { color: black; }
#fw_header h1 a:hover { text-decoration: none; }
#header_options { position: absolute; top: -32px; right: 0px; width: 560px; }
#header_options .option { width: 185px; float: left; padding: 5px 0; text-align: center; }
#header_options a:hover { text-decoration: none; }
#header_options .option:hover { background-color: #F5F7FA; }
#header_options div.option img { vertical-align: middle; margin-right: 7px; }
#header_options .option table { margin: 0 auto; }
#header_options .option table td { }
#header_options #options_search { border-top: 1px dashed #e0e0e0; width: 560px; padding: 7px 0; }
#header_options #options_download { border-left: 1px dashed #e0e0e0; border-right: 1px dashed #e0e0e0; }
#options_search input[type='text'] { height: 20px; width: 350px; }
#header_download { position: absolute; top: -8px; right: 0px; width: 220px; height: 36px; text-align: center; background: url('../images/dl_button_220.jpg') no-repeat top left; font-size: 0.9em; padding-top: 13px; }
#header_donate { position: absolute; top: -8px; right: 220px; width: 220px; height: 36px; text-align: center; background: url('../images/donate_button.jpg') no-repeat top left; padding-top: 13px; font-size: 0.9em; }
#header_download a, #header_donate a { color: white; }
#header_download a:hover, #header_donate a:hover { text-decoration: none; }
#dontate_wrapper { border: 1px dotted #A5A5A5; background-color: #FcFcFc; padding: 5px; margin: 0 0em 1.5em 0em; text-align: center; font-size: 0.8em; color: #555; }
div.forums #dontate_wrapper { margin: 1.5em 0em 0.5em 0em; }
.css_clear { clear: both; height: 0; line-height: 0; visibility: hidden; }
.css_right { text-align: right; }
.css_center { text-align: center; }
.css_spacing { margin-top: 1.5em; }
.css_small { font-size: 75%; line-height: 1.45em; }
.css_vsmall { font-size: 65%; line-height: 1.45em; }
table.display td.css_small { font-size: 0.7em; line-height: 1.45em; }
table.parameters { width: 100%; margin-bottom: 1em; }
table.features td { line-height: 17px; }
td.parameter { width: 306px; }
td.label { width: 180px; padding-left: 20px; }
a { text-decoration: none; color: #4E6CA3; }
a:hover { text-decoration: underline; }
.css_link { text-decoration: none; color: #4E6CA3; cursor: pointer; *cursor: hand; }
.css_link:hover { text-decoration: underline; }
h1 { font-size: 2em; line-height: 1.45em; vertical-align: middle; color: black; }
h1 img { margin-top: -5px; vertical-align: middle; }
h2 { font-size: 1.3em; line-height: 1.45em; color: black; }
h3 { font-size: 1.2em; line-height: 1.45em; padding-top: 2em; margin-bottom: 0.5em; border-bottom: 1px solid #829ac6; }
#index h3 { padding-top: 0em; }
body.blog h4 { padding-top: 1em; }
p { margin: 1em 0; }
#index p, #download p { margin: 0.5em 0; }
#fw_content img { margin: 0 auto; }
ol li { padding-bottom: 0.5em; }
ol { list-style-type: decimal; }
table.parameters ol { margin-left: 2em; }
div.box ol { margin-left: 2.5em; margin-top: 10px; }
#license #fw_content li { font-size: 14px; }
#license #fw_content li p { margin: 0; }
#fancybox-wrap { position: fixed; }
#fw_content ul, #fancybox-wrap ul, div.formatting ul { list-style-image: url('../images/arrow.jpg'); padding: 0.5em 0 0.5em 2em; font-size: 80%; }
ul.spaced_list li { padding-bottom: 1em; }
ul.no_spaced_list li { padding-top: 0; padding-bottom: 0; font-size: 12px; }
#fw_content ul.limit_length li ul { padding: 0 0 0 2em; }
input.text { width: 300px; }
textarea { height: 150px; width: 550px; }
#fw_content h4 { margin-top: 1em; margin-bottom: 0.5em; }
p.question { font-weight: bold; }
p.answer { margin-bottom: 2em; }
span.disscusionId { color: #AAA; font-size: 0.9em; }
li.Support li.DiscussionTopic a { color: red !important; }
li.SupportIncomplete li.DiscussionTopic a { color: green !important; }
div.news_link { margin-bottom: 12px; }
.column_1_3 { float: left; width: 306px; margin-right: 20px; }
.column_1_3r { float: left; width: 306px; }
.red { color: red; }
.column_1_2 { float: left; width: 48%; margin-right: 2%; }
div.push_button { width: 320px; height: 36px; text-align: center; background: url('../images/dl_button_320.png') no-repeat top left; font-size: 0.9em; padding-top: 13px; margin: 0 auto; color: white; }
div.push_button a { color: white; }
div.box { border: 1px solid #A4A4A4; background-color: #F8F8F8; padding: 1em; margin: 0.5em 0; }
div.form_field { padding-top: 20px; clear: both; }
div.form_field label { float: left; width: 40%; }
div.form_field>div { float: right; width: 55%; }
div.button { float: left; text-align: center; display: block; cursor: pointer; *cursor: hand; margin: 0 20px 10px 0; font-size: 15px; padding: 8px 0; background: #F8F8F8; background: -webkit-gradient(linear, center bottom, center top, from(#CCC), to(white)); background: -moz-linear-gradient(top, white, #CCC); background: linear-gradient(top, white, #CCC); color: #02475A; text-shadow: 0 1px 0 white; border: 1px solid #999; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; box-shadow: 0px 0px 2px #999; -moz-box-shadow: 0px 0px 2px #999; -webkit-box-shadow: 0px 0px 2px #999; width: 80px; }
div.button span.small { display: block; font-size: 13px; }
div.button.active { font-weight: normal; background: #02475A; background: -webkit-gradient(linear, center bottom, center top, from(#829AC6), to(#02475A)); background: -moz-linear-gradient(top, #02475A, #829AC6); background: linear-gradient(top, #02475A, #829AC6); color: white; }
.dataTables_wrapper { position: relative; min-height: 302px; _height: 302px; clear: both; }
.dataTables_processing { position: absolute; top: 0px; left: 50%; width: 250px; margin-left: -125px; border: 1px solid #ddd; text-align: center; color: #999; font-size: 11px; padding: 2px 0; }
.dataTables_length { width: 40%; float: left; }
.dataTables_filter { width: 50%; float: right; text-align: right; }
.dataTables_info { width: 60%; float: left; padding-top: 10px; }
.dataTables_paginate { width: 44px; * width: 50px; float: right; text-align: right; padding-top: 10px; }
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next { height: 19px; width: 19px; margin-left: 3px; float: left; }
.paginate_disabled_previous { background-image: url('../images/back_disabled.jpg'); }
.paginate_enabled_previous { background-image: url('../images/back_enabled.jpg'); }
.paginate_disabled_next { background-image: url('../images/forward_disabled.jpg'); }
.paginate_enabled_next { background-image: url('../images/forward_enabled.jpg'); }
table.display { margin: 0 auto; width: 100%; clear: both; }
table.display thead th { padding: 3px 10px; border-bottom: 1px solid black; font-weight: bold; cursor: pointer; * cursor: hand; font-size: 0.8em; }
table.display tfoot th { padding: 3px 10px; border-top: 1px solid black; font-weight: bold; }
table.display tr.heading2 td { border-bottom: 1px solid #aaa; }
table.display td { padding: 3px 10px; font-size: 0.8em; }
table.display td.center { text-align: center; }
.sorting_asc { background: url('../images/sort_asc.jpg') no-repeat center right; }
.sorting_desc { background: url('../images/sort_desc.jpg') no-repeat center right; }
.sorting { background: url('../images/sort_both.jpg') no-repeat center right; }
table.display tr.odd.gradeA { background-color: #ddffdd; }
table.display tr.even.gradeA { background-color: #eeffee; }
table.display tr.odd.gradeA { background-color: #ddffdd; }
table.display tr.even.gradeA { background-color: #eeffee; }
table.display tr.odd.gradeC { background-color: #ddddff; }
table.display tr.even.gradeC { background-color: #eeeeff; }
table.display tr.odd.gradeX { background-color: #ffdddd; }
table.display tr.even.gradeX { background-color: #ffeeee; }
table.display tr.odd.gradeU { background-color: #ddd; }
table.display tr.even.gradeU { background-color: #eee; }
tr.odd { background-color: #E2E4FF; }
tr.even { background-color: white; }
.top, .bottom { padding: 15px; background-color: #F5F5F5; border: 1px solid #CCCCCC; }
.top .dataTables_info { float: none; }
.clear { clear: both; }
tfoot input { margin: 0.5em 0; width: 100%; color: #444; }
tfoot input.search_init { color: #999; }
tr.odd td.sorting_1 { background-color: #D3D6FF; }
tr.odd td.sorting_2 { background-color: #DADCFF; }
tr.odd td.sorting_3 { background-color: #E0E2FF; }
tr.even td.sorting_1 { background-color: #EAEBFF; }
tr.even td.sorting_2 { background-color: #F2F3FF; }
tr.even td.sorting_3 { background-color: #F9F9FF; }
tr.odd.gradeA td.sorting_1 { background-color: #c4ffc4; }
tr.odd.gradeA td.sorting_2 { background-color: #d1ffd1; }
tr.even.gradeA td.sorting_1 { background-color: #d5ffd5; }
tr.even.gradeA td.sorting_2 { background-color: #e2ffe2; }
tr.odd.gradeC td.sorting_1 { background-color: #c4c4ff; }
tr.odd.gradeC td.sorting_2 { background-color: #d1d1ff; }
tr.even.gradeC td.sorting_1 { background-color: #d5d5ff; }
tr.even.gradeC td.sorting_2 { background-color: #e2e2ff; }
tr.odd.gradeX td.sorting_1 { background-color: #ffc4c4; }
tr.odd.gradeX td.sorting_2 { background-color: #ffd1d1; }
tr.even.gradeX td.sorting_1 { background-color: #ffd5d5; }
tr.even.gradeX td.sorting_2 { background-color: #ffe2e2; }
tr.odd.gradeU td.sorting_1 { background-color: #c4c4c4; }
tr.odd.gradeU td.sorting_2 { background-color: #d1d1d1; }
tr.even.gradeU td.sorting_1 { background-color: #d5d5d5; }
tr.even.gradeU td.sorting_2 { background-color: #e2e2e2; }
