/*
 * WooCommerce Product Archive
 */

.product-listing .product-list .product, .archive .product {
  float: left;
  width: 165px;
  text-align: center;
  margin-bottom: 15px;
  min-height:170px;
}

.archive .product img {
  max-width: 150px !important;
  height:auto !important;
}

.archive .orderby,
.archive .product .button.product_type_simple,
.woocommerce-result-count{
  display:none;
}

.details-list {
  margin-bottom: 20px;
  line-height: 1.5em !important;
  font-size: 16px !important;
  font-weight: bold !important;
}

.archive ul.products {
  display: block;
  float: none;
  clear: both;
  margin-bottom: 1.5em;

  li.product a img{
    display: inline;
  }
}

.archive ul.products h3 {
  margin-bottom: 1.5em;
  color: $color-font;
}

.archive div.product-list.group {
  margin-bottom: 3em;
}