/*
 * Footer
 */
#page-footer{

  min-height: 250px;
  padding: 17px;
  padding-top: 13px;
  background-color: $background-footer;

  font-size: 14px;
  line-height: 1.75em;
  font-weight: 300;
  color: $color-font-on-dk;

}

#footer-wrapper{

  padding: 0;
  @include flex-container(row, wrap, space-between, flex-start, center, false);

}

.copyright-nav{

  width: 100%;
  margin-top: 17px;

  @include media-breakpoint-up(lg){
    width: 35%;
  }
  @include media-breakpoint-up(xl){
    width: 50%;
  }

}

/* Footer navigation */

.nav-footer{

  ul, li{

    padding: 0;
    margin: 0;

  }

  > div > ul {

    @include flex-container(row, wrap, flex-start, center, center, false);

    > li:not(:first-of-type){

      margin-left: 20px;

    }

  }

  li{

    list-style: none;

  }

}



/* contact & logos */

.contact-logos{

  width: 100%;
  @include flex-container(row, wrap, flex-end, stretch, center, false);

  @include media-breakpoint-up(lg){
    width: 65%;
  }
  @include media-breakpoint-up(xl){
    width: 50%;
  }

}


.contact-logo-item {

  width: 50%;
  padding: 17px 0 0;
  text-align: center;

  @include media-breakpoint-up(sm){
    padding: 17px;
  }
  @include for( 595px ){
    width: 33%;
  }


  a{

    color: $color-font-on-dk;

  }

  img{

    position: relative;
    top: 50%;
    max-width: 120px;
    max-height: 60px;
    transform: translateY(-50%);

    .safari &{
      top: auto;
      transform: translateY(0);
    }

    @include for( 400px ){

      max-width: 160px;
      max-height: 80px;

    }

  }

  img[src$="svg"] {

    width: 160px;
    height: 52px;

  }

  /* contact divs */
  > div{

    display: inline-block;
    text-align: left;

  }

}