.home{
	.row{
		margin:0;
	}
	h2{
		font-size: 25px;
		margin-bottom:5px;
		margin-top:0;
		padding:20px 15px;
		text-align:center;
	}
	.banner-gallery{
		height:300px;
		margin-bottom:0;
		.slides {
			>li{
				overflow-x: hidden;
			}
			img{
				height: 300px;
				width: auto;
				margin-left: -40%;
			}
		}
		@include for(medium-screens) {
			height:auto;
			.slides img{
				height: auto;
				width:100%;
				margin-left:0;
			}
		}
		
		.caption-wrap{

			padding:20px 20px 0;

			@include for(large-screens) {
				width: 1002px;
				max-width: 100%;
				left: 50%;
				margin-left: -506px;
				padding-top: 30px;
			}

			@include for(xlarge-screens) {
				padding-top: 60px;
			}

			.caption{

				width: 320px;

				@include for(large-screens) {
					width: 388px;
				}

				// title
				h2{
					font-size:25px;
					margin-bottom: 0;
					padding:0;
					text-align:left;

					@include for(large-screens){
						margin-bottom: 5px;
						font-size: 42px;
					}
				}

				// description
				> div{

					@include for(large-screens) {
						margin: 5px 0;
						text-align: left;

					}
				}


				.btn{
					margin-top:10px;

					@include for(large-screens) {
						margin-top: 25px;
					}
				}
			}
		}
		.controls{
			bottom:15px;
		}
	}

}
.home-products{
	background-color: $white; //#ebf7ff;
	padding:30px 17px;
	.top-products{
		margin-bottom:20px;
		padding:0 10px;
		// .product{
		// 	width:160px;
		// 	display: none;
		// }

		.product img{
			border: 1px $alto solid;
		}
	}
	.container{
		&:before,
		&:after{//remove clearfix  so .container can be used for flex parent.
			display:none;
		}
		@include for(medium-screens) {
			@include flexbox();
			@include flex-flow(row wrap);
			@include justify-content(space-between);
			h2{
				width:100%;
			}
			.top-products{
				width: 66%;
				padding:0 30px;
			}
			.product-links{
				width: 28%;
			}
		}
	}
	
	.product-links{
		@extend .list-unstyled;
		text-align: center;
		@include for(medium-screens) {
			text-align: left;
		}
		a{
			display: block;
			font-size:18px;
			img{
				margin-left: 10px;
			}
		}
	}
}
.top-products{
	position:relative;
	@include for(medium-screens) {
		@include flexbox();
	}
	.slides{
		li{
			display:inline-block;
			// float:left;
			>a{
				display: block;
				// background-color: #fff;
				text-align: center;
				margin-bottom:10px;
			}
			img{
				margin:0 5px 10px;
			}
			h3{
				font-size: 16px;
				text-align:center;
			}
		}
	}
}
.home-solutions{
	background-color:$denim;
	h2{
		margin-top: 0;
		color:$white;
		@include for(medium-screens) {
			text-align:left;
			padding-left:0;
		}
	}
	#solutionTabs{
		text-align: center;
		@include flexbox();
		@include flex-flow(column nowrap);
		@include for(medium-screens) {
			@include flex-flow(row nowrap);
		}
		.navigation{
			@include for(medium-screens) {
				width: 40%;
			}
			@include for(large-screens) {
				width: 30%;
			}
			>form{
				margin-bottom:20px;
				@include for(medium-screens) {
					display:none;
				}
			}
		}
		
	}

	#tabNav{
		display:none;
		border-bottom:none;
		@include for(medium-screens) {
			@include flexbox();
			@include flex-flow(column nowrap);
			
			.nav-item{
				float: none;
				text-align: left;
				margin-bottom: 10px;
				>a{
					color: $white;
					font-size:18px;
					padding: 7px 7px 7px 0;
					border-radius:17px;
					@include transition;
					img{
						margin-right: 4px;
					}
					&.active,
					&:hover{
						background-color: $white;
						color: $denim;
						text-decoration: none;
					}
				}
				
			}
		}
	}
	.tab-content{
		@include for(medium-screens) {
			width: 70%;
		}
	}
	.tab-pane >div{

		text-align: center;

		@include for(large-screens) {
			@include flexbox();
			@include flex-flow(row nowrap);
		}

		.video-container{
			margin-bottom: 10px;
			@include for(large-screens) {
				width: 70%;
				margin-bottom: 0;
			}
		}
		.video-text{

			@include for(large-screens) {
				position: relative;
				text-align: left;
				width: 30%;
				padding-left:10px;

				.safari &{
					height: 285px;
				}

				.content-wrapper{
					position: relative;
					top: 50%;
					@include transform( translateY(-50%) );

					a {
						margin-left: 15px;
						margin-bottom: 20px;
					}

				}

			}

			@include for(xlarge-screends){
				.safari &{
					height: 328px;
				}
			}

		}
	}
	.description{
		padding:0 15px;
		margin-bottom: 10px;
		color:$white;
	}
	.btn{
		margin-bottom:20px;
	}
}
.home-case-studies-support{
	padding: 25px 0;
	text-align:center;
	background-color:#ededed;

	@include for(medium-screens){
		padding: 0 0 50px;
	}

	.container{
		>div{
			background-color:$white;
		}
		@include for(medium-screens) {
			@include flexbox();
			@include flex-flow(row nowrap);
			@include justify-content(space-between);
			>*{
				width: 48%;
			}
		}
	}
	h2{
		@include for(medium-screens) {
			text-align: left;
			background-color:#ededed;
			margin-bottom:0;
			padding-left:0;
		}
	}
	img{
		display:none;
		@include for(medium-screens) {
			display: block;
			margin-bottom: 20px;
		}
	}
	ul{
		@extend .list-unstyled;
		padding:0 10px;
		li{
			margin-bottom: 10px;			
		}
		a{
			font-size: 18px;
			
		}
	}
	.btn{
		margin-bottom:20px;
	}
	h3{
		font-size: 18px;
		padding:0 10px;
	}
	.case-studies ul{
		@include for(medium-screens) {
			@include columns();
			text-align:left;
		}
	}
	.support{
		>div,
		.support-links{
			padding:0 10px;
		}
		.support-text{
			@include flexbox();
			@include flex-flow(row nowrap);
			@include justify-content(space-between);
			>*{
				width: 48%;
				text-align:left;
			}
		}
	}
}