/**
 * Header
 */

header.banner {

	position: relative;
	z-index: 2;

}

// show drop shadow for all pages except home
body:not(.home) header.banner {

	/* mixin stopped working for some reason?  -pj 2017-02-05
	 * @include box-shadow( 0 0 10px 0 rgba( $brand-primary, 30%) );
	 */
	-webkit-box-shadow: 0 0 10px 0 rgba($brand-primary, 30%); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow: 0 0 10px 0 rgba($brand-primary, 30%); /* Firefox 3.5 - 3.6 */
	box-shadow: 0 0 10px 0 rgba($brand-primary, 30%); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

}

// make header shadow overlay content
body > .wrap {

	position: relative;
	z-index: 1;
	min-height: calc(100% - 119px);
	margin-bottom: -250px;

	&:after {
		min-height: 250px;
		display: block;
		content: "";
	}

}

/** Top Header **/
#top-header {

	padding: 6px 0;
	background-color: $brand-primary;

	font-size: 14px;
	font-weight: 300;
	color: $color-font-on-dk;

	& > .container {
		position: relative;
		@include flex-container(row, nowrap, flex-end, center, stretch, false);

	}

	a {
		color: $color-link-on-dk;
	}

	.contact {
		margin: 0 25px 0 0;
	}

	.translate {
		margin-right: 20px;
	}

}

.search-form {

	margin-right: 140px;

	& > label {
		margin-bottom: 0;
	}

	.search-field {

		display: inline-block !important;
		width: 210px;
		height: 27px;
		padding: 8px 10px;
		border: none;

		font-size: 14px;
		vertical-align: middle;

	}

	.submit {

		position: relative;
		right: 25px;
		color: $color-font !important;

		&:hover,
		&:active,
		&:focus {
			text-decoration: none;
		}

	}

}

#made-in-america {

	position: absolute;
	top: -6px;
	right: 0;
	height: 87px;
	width: 120px;

	padding: 0 8px 8px;
	background-color: white;
	text-align: center;

	@include filter-shadow(2px 2px 3px rgba(0, 0, 0, 0.6));

	p {

		padding-top: 2px;
		font-size: 11.5px;
		font-weight: bold;
		color: black;
		text-transform: uppercase;

		.safari & {
			font-size: 11px;
		}

	}

}

.ie #made-in-america,
.edge #made-in-america {
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .6);

	p {
		font-size: 11px !important;
	}

}

/** Main Header **/
#main-header {

	// override home page .row declaration
	.home & .row {
		margin: 0 -15px;
	}

	/* Mobile Search */
	.search-panel {

		position: absolute;
		top: -85px;
		right: 50px;
		z-index: 2;

		width: 254px;
		padding: 20px 5px 20px 20px;
		background-color: $background-medium;

		opacity: 0;
		@include filter-shadow(2px 2px 5px rgba(0, 0, 0, 0.4));
		@include border-radius($border-radius-default);
		@include transition();

		@include media-breakpoint-up(sm) {
			right: 80px;
		}

		.close-btn {

			position: absolute;
			right: 5px;
			top: 2px;

			&:hover {
				cursor: pointer;
			}

		}

		.search-form {

			margin: 0;
			padding: 0;

		}

		.search-field {

			font-size: 16px;

		}
	}

	/* Mobile Navbar */
	.navbar {
		padding: 0;
	}
}

.header-branding {
	padding-right: 0;
}

.brand {
	display: block;

	img {

		height: 40px;
		margin: 15px 0;

		@include media-breakpoint-up(sm) {
			height: 50px;
		}
	}

}

/** Desktop Menu **/
header.banner nav {

	.menu-primary-navigation-container {
		height: 100%;
	}

	.nav {

		height: 100%;
		margin-left: 20px;
		margin-right: 110px;
		font-size: 16px;
		line-height: 48px;

		@include flex-container(row, nowrap, flex-end, center, space-around, false);
		
		@include media-breakpoint-up(xl){
			margin-left: 0;
			margin-right: 140px;
		}

		// top-level menu items
		> li {

			height: 100%;

			@include media-breakpoint-up(lg){
				@include flex( 1 1 );
			}



			@include media-breakpoint-up(xl) {

				@include flex( auto );
				//padding-left: 10px;

			}

			> a {

				display: table;
				height: 80px;
				width: 100%;
				padding: 0 10px;
				text-align: center;
				line-height: 1.2;

				@include media-breakpoint-up(xl) {
					padding: 0 10px;
				}

				> span {
					display: table-cell;
					vertical-align: middle;
				}

			}

		}

		> li:hover,
		> li:active,
		> li:focus {

			background-color: $background-nav-hover;

		}

		> li:hover > a,
		> li:active > a,
		> li:focus > a {

			background-color: $background-nav-hover;
			color: $color-font;
			text-decoration: none;

		}

		// submenu
		> .menu-item-has-children > .dropdown-menu {

			left: calc(-140px + 50%);
			min-width: 280px;
			padding: 15px;
			margin: 0;
			background-color: $background-nav-hover;
			border: none;
			@include border-radius(0);

			// all submenu items
			li {

				line-height: 1.25;
				padding: 7px 25px;

				&.open {
					padding-bottom: 0;
				}

				// all submenu links
				a {

					font-size: 18px;

					&:hover,
					&:focus,
					&:hover {

						color: $color-font;
						text-decoration: none;

					}

				}

				// sub-submenu
				/*ul{

				  position: relative;
				  float: none;
				  margin-top: 10px;

				}*/

			}

			/*> li {

			  > ul > li {

				padding: 8px 25px 8px 50px;

				a {

				  font-size: 16px;
				  font-weight: 300;

				}

			  }

			  ul {

				background-color: $background-medium;

			  }

			}*/

		}

		// mega menu
		.mega-menu > ul {

			min-width: 500px;
			padding: 15px 0;

			.item-wrapper {

				@include columns(2, auto, 0);

				> li {

					display: list-item;
					position: relative;
					width: 100%;
					margin-bottom: 5px;
					break-inside: avoid;

					.ie & {
						display: block;
					}

					> a,
					> p {

						padding: 0;
						vertical-align: middle;

						.menu-item-icon {
							position: absolute;
							top: 50%;
							@include transform(translateY(-50%));

							.ie & {
								top: auto;
								@include transform(translateY(0));
							}
						}
						.menu-item-label {
							display: inline-block;
							margin-left: 40px;
						}

					}

					/*&:first-of-type a,
					&:first-of-type p {

					  padding-top: 0;

					}*/

					&:hover,
					&:active,
					&:focus {

						img {
							opacity: .8;
						}

						a {
							color: $color-font;
						}

					}

					&.active a span {
						text-decoration: underline;
					}

				}

			}

			img {
				width: 30px;
			}

			// thumbnail
			.mega-menu-thumbnail {

				float: left;

				width: auto;
				height: auto;
				max-width: 3000px;
				max-height: 200px;

				margin-right: 10px;

			}

		}

	}

}

.dropdown-toggle:after {
	display: none;
}

// all nav
nav {

	li.current-menu-item > a,
	li.current-menu-parent > a {
		text-decoration: underline !important;
	}

}

/** mobile navigation **/
.mobile.buttons {

	padding-top: 12px;

	@include media-breakpoint-up(sm) {
		padding-top: 18px;
	}

}

.mobile-nav-button {
	text-align: right;
}

.mobile-nav {

	@include for(large-screens) {
		display: none;
	}

}

.search-btn {

	@extend .navbar-toggler;

	display: inline;
	margin-right: 10px;
	font-size: 20px;

}

.navbar-toggler.opener,
.search-btn {
	border: 1px solid $color-font;
}

.sidenav {

	position: fixed; /* Stay in place */
	top: 0;
	right: -($sidenav-width);
	z-index: 500; /* Stay on top */

	height: 100%; /* 100% Full-height */
	width: $sidenav-width; /* 0 width - change this with JavaScript */
	padding-top: 1em; /* Place content 1em from the top */

	border-left: 1px $brand-primary solid;
	opacity: 0; /* hide initially */
	overflow-x: hidden; /* Disable horizontal scroll */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */

	background-color: rgba($background-mobile, 0.99);

	@include box-shadow(2px 2px 13px rgba(0, 0, 0, 0.4));

	.admin-bar & {

		top: 46px;

		@include media_breakpoint-up(md) {

			top: 32px;

		}

	}

	.navbar-toggler.closer {

		width: auto;
		margin-left: 1em;
		margin-bottom: 1em;
		background-color: $white;
		border: 1px $white solid;

		font-size: 16px;
		color: $color-link;

		&:hover,
		&:active,
		&:focus {

			color: $black;

		}
	}

	> div > ul {

		list-style: none;
		padding: 0;

		li {
			border-top: 1px $white solid;
		}

		a {
			color: $white;
		}
		a:hover,
		a:active,
		a:focus {

			color: $black;
			text-decoration: none;

		}

		> li {

			padding: 0;

			&:last-of-type {
				border-bottom: 1px $white solid;
			}

			&.open {

				padding-bottom: 0;
				border-bottom: none;

			}

			> a {
				padding: 1em;
				display: block;
			}

			> ul {

				position: relative;
				float: none;

				padding: 0;
				margin-top: 1em !important;
				margin-bottom: 0 !important;

				border: none;

				> li {

					padding: 0;
					padding-right: 0;
					background-color: $background-mobile-submenu;
					a {
						padding: 1em 1em 1em 2em;
						display: block;
					}

				}

			}

		}

	}

}
