/*
 *  Page Header
 */

// hero image
#hero {
  img {

    width: calc(100% + 20px);
    height: auto;
    margin-left: -10px;

  }
}

.page-header{

  // subtitle
  h2,
  .no-subtitle{
    margin-bottom: 30px;
  }

}

// content

.wrap{

  > .content {

    margin: 0;
    margin-bottom: 55px;

    ul{
      @extend .caret-bullet;
      margin-left: 14px;

      li{

        padding-left: 14px;

      }
    }

  }

}

.main{

  padding: 0;

}

.sidebar-primary .main{

  flex: 100%;
  max-width: 100%;
  margin-right: 0;

  @include media-breakpoint-up(md) {

    flex: 55.5%;
    max-width: 55.5%;
    margin-right: 7%;

  }

}

// Sidebar
.sidebar{

  flex: 100%;
  max-width: 100%;
  padding: 0;
  margin-top: 40px;
  margin-left: 0;

  @include media-breakpoint-up(md) {

    max-width: 29.4%;
    margin-top: 100px;
    margin-left: 7%;

  }

}