/*
 * RMA Pages
 */
.rma-form-containter {
  padding: 25px;
  background-color: #f6f6f6;
  border-top: 3px solid #ddd;
  border-bottom: 3px solid #ddd;
}
.rma-description {
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Tahoma',Arial, Helvetica, sans-serif;
  font-size: 9pt;
  font-style: normal;
  line-height: 20px;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: none;
}
.rma-title {
  font-family: 'Tahoma',Arial,Helvetica,sans-serif;
  font-size: 20px;
  color:#3889cb; font-weight:normal; letter-spacing:1px;
  font-style: normal;
  line-height: 44px;
  font-variant: normal;
  text-transform: none;
  text-decoration: none;
  padding-bottom: 20px;
  padding-top: 10px;
}

.rma-form-box {
  padding-left: 40px;
  padding-right: 40px;
  font-family: 'Tahoma',Arial, Helvetica, sans-serif !important; font-size: 9pt !important; font-style: normal;
  line-height: 20px;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: none;
  color:#333;
}

.rma-form-box input[type=text], textarea {
  border:1px solid #d5e0e4;
  letter-spacing:1px;
  padding:1px;
  height: 16px;
  font-family: 'Tahoma',Arial, Helvetica, sans-serif;
  font-size: 8pt !important;
}
.rma-form-box input[type=submit] {
  font-family: 'Tahoma',Arial, Helvetica, sans-serif;
  font-size: 10pt;
  padding:0px;

}
.rma-section { width:980px; float:left; display: block; padding-bottom:15px; }
.label { color: #2D3B3E; }
.label-required { color: #3889cb; }
.error { font-style: italic; color: #e08b42 !important; }

.column-1-1 { float:left; width:100px; }
.column-1-2 { float:left; width:300px; }
.column-1-2 input[type=text] { width:300px; }

.column-2-1 { float:left; width:45px; text-align:right; padding-right:8px; }
.column-2-2 { float:left; width:100px; padding-right:10px; }
.column-2-2 input[type=text] { width:100px; }
.column-2-2 textarea { width:450px; height: 100px; resize: none; }
.column-2-3 { float:left; width:100px; padding-right:10px; }

.column-3-1 { float:left; width:300px; }

#rma-form .row {
  display: block;
  padding-top:1px;
  padding-bottom:1px;
  margin: 0;
}

#rma-listing table {
  right: 20px;
}

#rma-listing-div {
  margin-left: 2px; display:inline-block;
  font-family: 'Tahoma',Arial, Helvetica, sans-serif;
  font-size: 8pt;
  line-height: 14px;
  padding:0px;

}

#rma-listing .column-1-1 { float:left; width:200px; }

.rma-record-company { padding: 10px 0 0px 0; width:100%; height:50px; border-top: solid #f8f8f8; margin-top:20px; vertical-align:top; }
.rma-record-company > .column-1 { padding-left: 10px; float:left; display:inline-block; width:390px; vertical-align:top; }
.rma-record-company > .column-2 { padding-left: 10px; float:right; display:inline-block; width:190px; vertical-align:top; }

.rma-record-row { padding: 10px 0 0px 0; width:100%; height:50px;  }
.rma-record-row > .column-1 { padding-left: 10px; float:left; display:inline-block; width:390px; vertical-align:top; }
.rma-record-row > .column-2 { padding-left: 10px; float:right; display:inline-block; width:190px; vertical-align:top; }

.rma-record-info { padding: 5px 10px 0px 10px; color: #e08b42;}
.rma-record-info > .column { display:inline-block; width: 100px; }

.rma-details { padding: 5px 10px 0px 10px; margin-left:0px; width:100%; vertical-align:top; display:block; }
.rma-details > .column-1 { padding-left: 10px; float:left; display:inline-block; width:75px; vertical-align:top;  }
.rma-details > .column-2 { padding-left: 10px; float:left; display:inline-block; width:500px; vertical-align:top; }

#rma-products {
  /* height:75px; overflow-y:auto; border: 1px solid #aaa; */
  width: 700px;
  margin-left:0px; padding-top:5px; padding-bottom:5px; padding-left:10px;
  font-size:8pt;
}

#request, #warrantylabel_1 { cursor: pointer; }

#rma-form input[type="text"]{
  height: 20px;
}
#rma-form textarea{
  width: 450px;
}




