.posts-navigation{
	margin-top:20px;
	.nav-links{
		@include flexbox();
		@include justify-content(space-between);
		a{
			@extend .btn;
			@extend .btn-primary;
		}
		.nav-previous a{
			background-image:url(../images/icon-left-arrow-white.png);
			background-position:5% center;
			padding-right:1rem;
			padding-left:27px;
		}
	}

}