.search-results{
	.main{
		margin-bottom:40px;
	}
	article{
		max-width: 700px;
	}
	.entry-title{
		margin-bottom:0;
	}
}

/*.search-group { display:block; width:100%; float:left; padding: 0 0 40px 0; }

.search-row { display:block; float:left; width:100%; }
.search-row.category { font-weight:bold; padding:20px 0 20px 0; }

.search-item { float:left; width:200px; height:60px; padding: 10px 0 0 40px; }
.search-image { float:left; min-width:110px; width:110px; }
.search-description { text-align:left; font-size:10px; padding: 0 0 0 10px; }

.search-group a:link {color:$black; text-decoration:none; }
.search-group a:visited {color:$black; text-decoration:none; }
.search-group a:hover {color:$black; text-decoration:none; }
.search-group a:active {color:$black; text-decoration:none; }*/

.search-results h3{
	margin-top: 25px;
	font-size: 20px;
}

.search-group{
	a:link,
	a:visited,
	a:hover,
	a:active{
		color:$black;
		text-decoration:none;
	}
}

.product-group{

	@include flex-container(row, wrap, flex-start, flex-start, space-between);

	margin-left: -25px !important;
	list-style: none !important;

	li{
		max-width: 210px;
		//max-height: 60px;
		padding: 0 !important;
		margin-left: 25px;
		margin-bottom: 25px;

		img{
			float: left;
		}

		.search-description{
			margin-left: 110px;

			strong{
				color: $color-link;
			}
		}
	}
}

.post-content{
	margin-bottom: 45px;
}

.no-results{
	margin: 10% 0;
}
