/*
 * Single Product (WooCommerce)
 */

 .product-sidebar{
	.collapsing{
		height:auto;
	}
	.collapse{
		display:block;
	}
 }
 .single-product{
 	.main>.container{
 		padding-top:30px;
 		@include flexbox();
 		@include flex-flow(column nowrap);
 		@include for(medium-screens) {
			@include flex-flow(row nowrap);
			@include justify-content(space-between);
 		}
 	}
	#tab-description{
		.group{
			@include flexbox();
 			@include flex-flow(row wrap);
		}
	}
 }
 #product-container{
 	@include for(medium-screens) {
		@include order(2);
		width: 70%;
	}
	.summary{
		float: none;
		width:auto;
	}
	@include for(xlarge-screens) {
		@include flexbox();
		@include justify-content(space-between);
		.summary{
			width: 60%;
		}
		.product-sidebar-right{
			width:35%;
		}
	}

	.product-sidebar-right .images{
	 display: none;

	 @include for(xlarge-screens){
		 display: block;
	 }
	}

	 .summary .images{
		 display: block;
		 padding-top: 35px;
		 margin: 0 auto;
		 border: none;

		 @include for(xlarge-screens){
			 display: none;
		 }
	 }

	.images img{
	 border: 1px $alto solid;
	}

	 .summary .thumbnails{
		 @include flex-container(row, wrap, center);

		 > a{
			 float: none;
			 width: 92px;
		 }
	 }
 }



.product-sidebar{

	padding-bottom: 25px;

	@include order(3);
	@include for(medium-screens) {
		@include order(1);
		width: 27%;
	}
	>ul{
		padding-left:0;

		> li{
			list-style: none;
		}
	}

	.title{

		border-top: 1px $alto solid;
		padding-top: 25px;
		margin-top: 0;
		text-align: center;

		@include for(medium-screens){
			display: none;
		}
	}
}
// .product-sidebar-right{
//  	@include for(medium-screens) {
// 		@include order(2);
// 	}
//  }


.product-detail h4,
.similar-products h4 {
	font-weight: bold;
}

.product-detail .product-images {
	// float: left;
	width: 520px;
	margin-right: 90px;
}

.product-detail .product-images .hero {
	width: 520px;
	height: 387px;
	text-align: center;
	margin-bottom: 10px;
	border: 1px solid #dfdfdf;
	background-color: $white;
}

.product-detail .product-images .hero img {
	max-width:518px;
	max-height:350px;
}

.product-detail .product-images-small .image {
	// float: left;
	width: 33.33%;
	text-align: center;
}

.product-detail .article-product {
	// float: right;
	width: 350px;
}

.product-detail .nav-product {
	border-bottom: 1px solid $black;
	padding-bottom: 5px;
	margin-bottom: 25px;
}

.product-detail .nav-product p {
	// float: left;
	width: 264px;
}

.product-detail .nav-product .nav-buttons {
	float: right;
	width: 66px;
	margin-right: 20px;
}

.product-detail .nav-product .nav-buttons .prev {
	// float: left;
	width: 23px;
	margin-right: 20px;
}

.product-detail .nav-product .nav-buttons .next {
	// float: right;
	width: 23px;
}

.product-detail .product-number {
	text-transform: uppercase;
	margin-bottom: 10px;
}

.product-detail .where-to-use {
	margin-top: 20px;
	width: 400px;
}

.product-detail .icons {
	margin-top: 20px;
}

.product-detail .icons .icon {
	// float: left;
	width: 64px;
	margin-left: 25px;
	padding-top: 74px;
	text-align: center;
	color: $brand-primary;
}

.icon-alt {
	// float: left;
	width: 50px;
	margin-left: 25px;
	padding-top: 5px;
	text-align: center;
	color: $brand-primary;
	min-height:70px;
}

.product-detail .icons .icon:first-child {
	margin-left: 0;
}

.product-detail .product-information {
	margin: 5px 0;
}

.product-detail .product-information h4 {
	// float: left;
	margin-top: 5px;
	margin-right: 5px;
}

.product-detail .product-information form {
	// float: left;
}

.product-detail .product-information form select {
	font-family: "Lato", serif !important;
	font-size: 12px;
	/* color: #636466; */
	color: $black;
	padding: 3px;
	border: 1px solid #ddd;
	background-color: $white;
}

.similar-products {
	min-height: 200px;
	padding-bottom: 0;
	border-bottom: 1px solid #d9d9d9;
	background-image: url('../images/bg_related.jpg');
	background-repeat: repeat-x;
	background-size: auto 100%;
}

.similar-products article {
	// float: left;
	width: 520px;
	margin-right: 90px;
}

.similar-products aside {
	// float: right;
	width: 350px;
}

.used-with {
	text-align: center;
}

.used-with .product-list {
	margin-top: 20px;
}

.used-with .product-list .product {
	// float: left;
	width: 25%;
}

.used-with .product-list .product img {
	margin-bottom: 15px;
}

/*************************************************************/

/* WooCommerce CSS */
#container {
	padding: 5em;
}
#container hr {
	border: 1px solid #e0e0e0;
	border-bottom: 0;
	margin: 3em 0;
}


#product-container, .product-sidebar-right {
	// width: 180px;
	// margin-right: 20px;
	// float: left;
}

#widget-collapscat-3-top li.collapsing.categories.item:before {
	display: none !important;
}

// #product-container {
// 	width: 386px;
// }
.product-sidebar-right {
	// width: 348px;
	// margin-right: 0px;
}

// .single-product .thumbnails{
// 	display: block;
// 	width: 90px;
// }
.woocommerce {
	div.product div.images {
		float: none;
		width: 100%;
		img{
			width: auto;
		}
	}
	img{
		width: auto;
	}

}
.single-product .images{
	border-top: 1px solid #e0e0e0;
	a{
		display:inline-block;
	}
}
.woocommerce-tabs .tabs, .woocommerce-breadcrumb, .product_meta {
	display: none;
}
.fl {
	// float: left;
}
.ul li, .details-list li{
	list-style: initial;
	margin: 0em 1.6em;
}
.single.product .panel {
	padding-top: 0;
}
.sidebar-tab
.sidebar-tab, ul #widget-collapscat-3-top {
	display: block;
	border: 1px solid #c1ddf6;
	padding: 0;
	-webkit-border-radius: .4em;
	border-radius: .4em;
}
body #widget-collapscat-3-top li.collapsing.categories {
	padding: 0 0 0 0em;
}
.sidebar-tab li > a, ul #widget-collapscat-3-top > li a{
	display: block;
	height: 32px;
	line-height: 32px;
	border-bottom: 1px solid #dff3ff;
	box-sizing: border-box;
}
ul #widget-collapscat-3-top > li a{
	height: auto;
}
.hero{
	border: 1px solid #e0e0e0;
	margin-bottom: 40px;
	width: 100%;
	/* background: url('images/icon-glass.png') bottom 15px right 15px no-repeat; */
}
.hero .images a {
	margin: auto !important;
	display: block  !important;
	width: 300px  !important;
	text-align: center  !important;
}
ul #widget-collapscat-3-top li li a {
	padding-left: 2em !important;
}
ul #widget-collapscat-3-top li li li:hover, .item.self {
	background: #A3DCFF;
}
ul #widget-collapscat-3-top li a {
	padding-right: 0 !important;
}
.sym{
	// float: left;
	height: 32px;
	line-height: 32px;
	margin-left: .8em;
	color: #1978be;
	margin-right: 6px;
}

ul ul ul li.collapsing {
	background-color: #dff3ff;
}


ul ul ul li.collapsing.categories.parent  {
	background: url('../images/tab-shadow.gif') top left repeat-x #dff3ff;

}

ul ul li.collapsing.categories.parent li.item:last-child a{
	background-image: url('../images/bottom-shadow.gif');
	background-repeat: repeat-x;
	background-position: bottom;
}

.sidebar-tab li:last-child > a, ul #widget-collapscat-3-top li:last-child > a {
	border-bottom: 0;
}
.sidebar-tab {
	@extend .list-unstyled;
	.sidebar-div {
		background: url('../images/tab-shadow.gif') top left repeat-x #dff3ff;
		padding: .8em;
		display: none;
		.ul{
			@extend .list-unstyled;
		}
	}
}

.product-sidebar-right .sidebar-tab li a{
	padding-left: 1em
}
.icon-container {
	// width: 64px;
	text-align: center;
	font-weight: bold;
	color: #1978be;
	margin: 1.5em 2em 1.5em 0;
	a{
		display: block;
		>div{
			width: 100%;
			margin-bottom:0px;
		}
	}	
}
.awards {
	padding: 2em .4em;
}
.icon {
	display: block;
	height: 64px;
	width: 64px;
	margin-bottom: 1em;
}

.icon-container
.icon.security {
	background: url('../images/louroe_home-industry-icons-security.png') center center no-repeat;
	background-size: contain;
}
.icon.transportation {
	background: url('../images/louroe_home-industry-icons-transportation.png') center center no-repeat;
	background-size: contain;
}
.icon.education {
	background: url('../images/louroe_home-industry-icons-education.png') center center no-repeat;
	background-size: contain;
}
.icon.law-enforcement {
	background: url('../images/louroe_home-industry-icons-law-enforcement.png') center center no-repeat;
	background-size: contain;
}
.icon.gaming  {
	background: url('../images/louroe_home-industry-icons-gaming.png') center center no-repeat;
	background-size: contain;
}
.icon.retail {
	background: url('../images/louroe_home-industry-icons-retail.png') center center no-repeat;
	background-size: contain;
}
.icon.healthcare {
	background: url('../images/louroe_home-industry-icons-medical.png') center center no-repeat;
	background-size: contain;
}
.icon.c-store {
	background: url('../images/louroe_home-industry-icons-c-store.png') center center no-repeat;
	background-size: contain;
}
.icon.banking {
	background: url('../images/louroe_home-industry-icons-banking.png') center center no-repeat;
	background-size: contain;
}
.product #container, .archive #container {
	background: #FFF;
}

mark.count {
	background-color: transparent;
}

.tribe-events-event-image img.attachment-full { display:none; }

.ctas-extended-info.mobile{
	@include for(xlarge-screens){
		display: none;
	}
}
.ctas-extended-info.desktop{
	display: none;
	@include for(xlarge-screens){
		display: block;
	}
}

.woocommerce div.product div.summary,
.woocommerce div.product .woocommerce-tabs .panel{
	margin-bottom: 0;

	@include media-breakpoint-up(md){
		margin-bottom: 2em;
	}
}

.cta-buttons{

	a{
		display: inline-block;
		min-width: 195px;
	}

	.cta-button-secondary{
		margin-top: 10px;
	}
}

.desktop .cta-buttons{

	@include flex-container(column, nowrap, center, flex-start);

}

.mobile .cta-buttons{

	width: 260px;
	margin: 0 auto;
	text-align: center;

	&:not(.has-distributor) {

		@include for(420px) {
			@include flex-container(row, nowrap, center, center, center, false);
			width: auto;
			margin: 0;
		}
	}

	&.has-distributor{
		width: auto;
		margin: 0;
	}

	h2{
		white-space: nowrap;
	}

	a:last-of-type{
		@include for(420px) {
			margin-left: 2%;
		}
	}
}

.distributors-header{

	display: inline-block;
	max-width: 100%;
	text-align: left;
	
	h2{
		margin-bottom: 10px;
		margin-top: 0;
	}
}

.mobile .distributors{

	@include for(420px){
		@include flex-container(row, wrap, space-between );
	}

	@include media-breakpoint-up(lg){
		flex-wrap: nowrap;
	}

}


.distributor-profile{
	a{
		display: block;
		margin-left: 0 !important;
	}

	p, ul{
		padding-left: 0 !important;
	}
}

.mobile .geolocation:not(:last-of-type){
	@include for(420px){
		margin-right: 10px;
	}
}

.geolocation{

	padding: 10px 0;

	ul{
		padding-left: 10px;
		margin-bottom: 5px;
		list-style: none;

		li{
			line-height: 1.25;
		}
	}

	.name{
		font-weight: bold;
		padding-left: 10px;
		margin-bottom: 5px;
	}

}