/**
 * Global
 */
html, body {
  overflow-y: scroll; /* Fixes page shift on unequal length pages*/
  color: black;
  height: 100%;
}

a:hover,
a:active,
a:focus{

  color: $color-link;
  text-decoration: underline;

  img{ opacity: .8; }

}

p a{

  font-weight: 900;

}

h1{
  
  margin-top: 22px;
  font-size: 36px;
  @include for(medium-screens) {
    font-size: 42px;
  }
  @include for(large-screens) {
    font-size: 48px;
  }
}

h2{

  margin-top: 28px;
  margin-bottom: 40px;
  font-size: 24px;
  color: $color-h2;

}

h3{

  margin-bottom: 15px;
  font-size: 24px;
  color: $color-h3;

}

h4{

  font-size: 16px;
  font-weight: 900;

}

.cta-link{

  padding-right: 22px;
  background: $caret-right-blue no-repeat;
  background-size: 12px 14px;
  background-position: right .45em;
  font-size: 25px;
  font-weight: normal;

  @include for(medium-screens) {
    font-size: 22px;
  }
  @include for(large-screens) {
    font-size: 25px;
  }

}

.caret-bullet{

  padding: 0;
  margin: 0;
  @extend .list-unstyled;

  li{

    padding-left: 22px;
    background:$caret-right-blue no-repeat;
    background-size: 9px 10px;
    background-position: left .5em;

  }

}

// 404

.error404{
  .search-form{
    display: inline-block;
    
    .search-field{
      border-radius: 0;
      border:2px solid $denim;
      padding:10px;
      width: 230px;
      height: auto;
    }
    .submit{
      right:30px;
    }
  }
}
.video-container {
  // position: relative;
  // padding-bottom: 56.25%; /* 16:9 */
  // padding-top: 25px;
  // height: 0;
  overflow: hidden;
  position: relative;
  width:100%;
}
.video-container::after {
padding-top: 56.25%;
/* 16:9 ratio */
display: block;
content: '';
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
