/** Flexbox **/
@mixin flex-container(  $direction: row, 
                        $wrap: nowrap, 
                        $justify: flex-start, 
                        $align-items: stretch, 
                        $align-content: stretch,
                        $is_inline: false)
{
    
    @if ($is_inline){
        display:                    -webkit-inline-flex;
        display:                    -moz-inline-flex;
        display:                    -ms-inline-flex;
        display:                    inline-flex;
    } @else {
        display:                    -webkit-flex;
        display:                    -moz-flex;
        display:                    -ms-flex;
        display:                    flex;
    }
    
    flex-direction:             $direction;
    -webkit-flex-direction:     $direction;
    
    flex-wrap:                  $wrap;
    
    -webkit-justify-content:    $justify;
    -moz-justify-content:       $justify;
    -ms-justify-content:        $justify;
    justify-content:            $justify;
    
    align-items:                $align-items;
    align-content:              $align-content;
}

@mixin inline-flex-container (  $direction: row, 
                                $wrap: nowrap, 
                                $justify: flex-start, 
                                $align-items: stretch, 
                                $align-content: stretch){
                                    
    @include flex-container($direction, $wrap, $justify, $align-items, $align-content, true);
    
}

/** Individual Flexbox Mixins **/

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;  
  -moz-box-ordinal-group: $val;     
  -ms-flex-order: $val;     
  -webkit-order: $val;  
  order: $val;
}

@mixin justify-content($val) { //flex-start | flex-end | center | space-between | space-around
  -webkit-justify-content: $val;
  justify-content: $val;
}
@mixin flex-flow($val) { //row | row-reverse | column | column-reverse || nowrap | wrap | wrap-reverse
  -webkit-flex-flow:  $val;
  flex-flow: $val;
}
@mixin align-items($val) { //flex-start | flex-end | center | baseline | stretch
  -webkit-align-items:  $val;
  align-items: $val;
}
@mixin align-content($val) { //flex-start | flex-end | center | baseline | stretch
  -webkit-align-content:  $val;
  align-content: $val;
}



/** Transition **/
@mixin transition(  $property: all, 
                    $duration: 0.25s, 
                    $timing_function: ease, 
                    $delay: 0s )
{
    -webkit-transition: $property $duration $timing_function $delay;
    -moz-transition: $property $duration $timing_function $delay;
    -o-transition: $property $duration $timing_function $delay;    
    transition: $property $duration $timing_function $delay;
}


/**
* ---------------Media Queries
		Use example:
		@include for(medium-screens) {
			max-width: $width+($col*2);
		}
 */
@mixin for($media) {
  
  // xsmall is 0px
  
  @if $media == small-screens { //576
		@media screen and (min-width: map-get($grid-breakpoints, sm)) { @content; }
	}
	@else if $media == medium-screens { //768
		@media screen and (min-width: map-get($grid-breakpoints, md)) { @content; }
	}
	@else if $media == large-screens { //960
		@media screen and (min-width: map-get($grid-breakpoints, lg) ) { @content; }
	}
	@else if $media == xlarge-screens { //1200
		@media screen and (min-width: map-get($grid-breakpoints, xl) ) { @content; }
	}
	@else{ 
		@media screen and (min-width: $media) { @content; }
	}
}


@mixin border-radius( $radius ){
  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: $radius; 

  /* Firefox 1-3.6 */
  -moz-border-radius: $radius; 
  
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: $radius;
}


/* see https://css-tricks.com/guide-responsive-friendly-css-columns/ */
@mixin columns( $count: 2, 
                $width: auto,
                $gap: 1.5em)
{
    
    -webkit-column-count:   $count;
          column-count:     $count;
     -moz-column-count:     $count;
          
    -webkit-column-width:   $width;
     -moz-column-width:     $width;
          column-width:     $width;
          
    -webkit-column-gap:     $gap;
     -moz-column-gap:       $gap;
          column-gap:       $gap;
                    
}

/*
 * Vertically position an element
 * - enclose with element with position: relative.
 * - example: for vertical center, use vertical-position( 50% )
 */
@mixin vertical-position( $percent ){
  
  position: absolute;
  top: $percent;
  -webkit-transform: translateY(-$percent);
      -ms-transform: translateY(-$percent);
       -o-transform: translateY(-$percent);
          transform: translateY(-$percent);
}


@mixin transform( $args ){
  
  -webkit-transform: $args; /* Chrome, Safari, Opera */
      -ms-transform: $args; /* IE 9 */
          transform: $args;
  
}

@mixin placeholder(){
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    @content;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    @content;
  }
  :-ms-input-placeholder { /* IE 10+ */
    @content;
  }
  :-moz-placeholder { /* Firefox 18- */
    @content;
  }
}

@mixin break-inside( $value: avoid ){
  -webkit-column-break-inside: $value;
  page-break-inside: $value;
  break-inside: $value;
}

@mixin box-shadow( $attributes ){

  -webkit-box-shadow: $attributes;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    $attributes;  /* Firefox 3.5 - 3.6 */
  box-shadow:         $attributes;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

}

@mixin filter-shadow( $attributes ){
  -webkit-filter: drop-shadow( $attributes );
  -moz-box-shadow: $attributes;
  filter: drop-shadow( $attributes );
}