// Grid settings
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;



/*
 *  Colors
 */
/* Color Names */

// Grays
$black:                 #000;
$emperor:               #555;
$shuttle_gray:          #636466;
$gray:                  #828282;
$alto:                  #ddd;
$gallery:               #ededed;
$white:                 #fff;

// Blues
$zircon:                #fdfeff;
$solitude:              #ebf7ff;
$iron:                  #d4d8d9;
$spindle:               #b1cfe8;
$denim:                 #1978be;
$chathams-blue:         #125688;

// Reds
$red-berry:             #990000;
$alizarin-crimson:      #e91c28;


/* Color Roles */
$brand-primary:         $denim;
$brand-warning:         $chathams-blue;

// Font colors
$color-font:            $black;
$color-font-on-dk:      $white;
$color-h2:              $emperor;
$color-h3:              $emperor;

$color-link:            $brand-primary;
$color-link-on-dk:      $white;

// border colors
$submenu-in-page:       $shuttle_gray;
$color-button-border:   $brand-primary;

// background colors
$background-default:    $white;
$background-medium:     $solitude;
$background-mobile:     $denim;
$background-mobile-submenu:     $chathams-blue;
$background-footer:     $black;
$background-nav-hover:  $gallery;

// button colors
$button-background-cta: $brand-primary;
$button-border-cta:     $iron;
$button-color-cta:      $zircon;

$button-secondary-background: $alizarin-crimson;
$button-secondary-color:      $white;

// warnings
$state-warning-bg:      $solitude;
/*
 * Sizes
 */
// menu
$sidenav-width:         300px;
$triangle-size:         12px;
$border-radius-default: 4px;


/*
 * Fonts
 */
$font-family-base:    'Lato', sans-serif;

/*
 * Image URLs
 */
$caret-right-blue:  url('../images/caret-right-blue.svg');
$caret-right-white:  url('../images/caret-right-white.svg');