body { 	
font-family: Verdana, Geneva, sans-serif;
font-size: 8pt;
font-style: normal;
line-height: 20px;
font-weight: normal;
}
ul { list-style-type: none;
}

.container { min-width:1200px; width:1200px; height:750px; }

#main_left { width: 300px; height:750px; float: left; display:inline-block; background-color:#dfb97a; overflow-x:none; overflow-y:none }
#main_right { min-width:900px; width: 900px; height:750px; float: left; display:inline-block; background-color:#EEDECB; }

#main_left_search { width:300px; height:30px; padding-left:10px; padding-top:5px; overflow-y:auto; overflow-x:auto; background-color:#ccc; }
#main_left_listing { width:300px; height:710px; overflow-y:auto; overflow-x:hidden;	 }

.rma-form-containter {

	width: 900px;
	height:750px;

	/*
	border-top: 3px solid #ddd;
	border-bottom: 3px solid #ddd;
	*/
	color: #999;
	/*
	background-image: url(../img/form-background.jpg);
	background-size:100%;
	*/
}


.listing-item { cursor:pointer; line-height:12px; margin-top:10px; border-top: 1px solid #EEDECB; width: 270px; }
#list { padding-left:10px; width: 270px; }
.selected-item { color:#111; font-weight:550; background-color:#EEDECB; }

.new-item { color:#307e2a; }


 body {
    -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   /* Introduced in IE 10. See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/ */
   -ms-user-select: none;
   user-select: none;
 }
 
input,
textarea, div {
  -moz-user-select: text;
}



.rma-form-box {
	padding-top: 2px;
	padding-left: 10px;
	padding-right: 5px;
	text-transform: none;
	text-decoration: none;
}

a:link {color:#3889cb;}      /* unvisited link */
a:visited {color:#3889cb;}  /* visited link */
a:hover {color:#3889cb;}  /* mouse over link */
a:active {color:#3889cb;}  /* selected link */ 
a {text-decoration:none; }

input[type=text], textarea {
	border:1px solid #d5e0e4 !important;
	padding:1px;
	height: 16px;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 8pt;
	background-color:#F2EAE1;
}

input[type=button], select {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 7pt;
	font-style: normal;
	line-height: 20px;
	font-weight: normal;
}

select { font-size: 8pt; }

#search { width: 130px; }
#search_cat { font-size: 7pt; width:83px;  }

#rmakey[disabled] {
   color: #333;
}

textarea { padding-top: 5px; }
.rma-form-box input[type=submit] {
	font-size: 7pt;
	padding:0px;
	
}
.rma-section { width:800px; float:left; display: block; padding-bottom:10px; }

.label { color: #2D3B3E; }
.label-required { color: #e08b42; }
.error { color: #b84d50 !important; }

.column-0-1 { float:left; width:45px; text-align:right; padding-right:8px;  }
.column-0-2 { float:left; width:60px; padding-right:25px; }
.column-0-2 input[type=text] { width:75px; }
.column-0-3 { float:right; width:200px; padding-right:-10px; }

.column-1-1 { float:left; width:100px; }
.column-1-2 { float:left; width:300px; }
.column-1-2 input[type=text] { width:300px; }
.column-1-3 { float:left; width:200px; padding-left:20px; }
.column-1-4 { float:left; width:100px; padding-left:20px; }

.column-2-1 { float:left; width:45px; text-align:right; padding-right:8px;  }
.column-2-2 { float:left; width:100px; padding-right:10px; }
.column-2-2 input[type=text] { width:100px; }
.column-2-2-2 textarea { width:400px; height: 100px; resize: none; display:inline-block; float:left; }
.column-2-3 { float:left; width:100px; padding-right:10px; vertical-align:top; }
.column-2-4 { float:left; width:40px; padding-right:0px; display:inline-block; padding-left:8px; }
.column-2-5 { float:left; width:260px; padding-right:0px; display:inline-block; padding-left:8px; }

.column-3-1 { float:left; width:300px;  }

#email { width:265px; }
#email-button { padding-left: 4px; height:18px; width: 28p; vertical-align:middle; }

.row {
	padding-top:1px;
	padding-bottom:1px;
}


#rma-details { background-color: #e8e8e8;
	width: 800px;
	height: 165px;
	overflow-y: scroll;
}

#rma-details-header { background-color: #e8e8e8;
	width: 800px;
	height: 25px;
 }

.rma-detail-row, .rma-header-row, .rma-template-row, .rma-footer-row { display:block; padding: 5px 5px 0 5px; }
.rma-template-row { display:none; }


.detail-date { width: 75px; display:inline-block; vertical-align:top; color: #333; line-height:14px; }
.detail-note, .detail-webnote { width: 290px; height: 65px; resize: none; }
.detail-author { width: 75px; vertical-align:top; }

/* .detail-webnote { background-color: #ccebae} */
.detail-note { background-color: #ffe497 } 



#system-status { width:250px; height:100px; background-color:#7a8eb7; position:absolute;
    left:50%; top:50%; margin:-100px 0 0 -150px; padding: 10px; opacity: 0.8; display: none;
    text-align:center; font-weight: bold;
    vertical-align: middle;
    line-height: 80px;
}

p.listing-contactname { font-size: 8pt; margin: 0px; color:#777; }
p.listing-email { font-size: 8pt; font-style:italic; margin: 0px; color:#777; }

#rma-products {
	/* height:75px; overflow-y:auto; border: 1px solid #aaa; */
	width: 700px;
	margin-left:0px; padding-top:5px; padding-bottom:5px; padding-left:10px; 
	line-height:20px;
	font-size:8pt;
}

#rmastatus { width:210px; }

#request, #warrantylabel_1 { cursor: pointer; }

#email-history { display: inline-block; padding: 2px; border: 1px solid #ccc; width:328px; height: 105px; overflow-y:auto;
	font-family: "Lucida Console", Monaco, monospace; font-size: 7pt; line-height:10pt; 
}

.warranty { vertical-align:top;  }
