/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
@import "../common/variables.scss";

.flexslider {

  margin: $flexslider-margin;
  background: $flexslider-bg;
  position: relative;
  zoom: 1;

  @include border-radius( $flexslider-border-radius );
  

  .slides {

	zoom: 1;

 	img {
		height: auto;
		-moz-user-select: none;
	}
  }
  .caption-wrap {
	position:absolute;
	top:0; 
	left:0;
	padding-left: 18%;
	padding-top:70px;
	.caption{
	  background-color:rgba(25,120,190,.8);
	  padding:20px;
	  width: 388px;
	  color:#fff;
	  h2{
		color:#fff;
		margin-top: 0;
		font-size: 2.625rem;
	  }
	  div{
		line-height:1.3125;
	  }
	}
  }
}

.flex-viewport {

  max-height: $flex-viewport-max-height;

  @include transition();

  .loading &{

	max-height: $flex-viewport-loading-max-height;

  }
}

.carousel li {

  margin-right: 5px;

}


//
// Direction Nav
//

.flex-direction-nav {

  *height: 0;


  //
  // Global styles
  //

  a  {

	text-decoration: none;
	display: block;
	width: 26px;
	height: 26px;
	margin: -20px 0 0;
	position: absolute;
	top: 40%;
	z-index: 10;
	overflow: hidden;
	// opacity: 0;
	cursor: pointer;
	color: $flex-direction-nav-color;
	text-shadow: $flex-direction-nav-text-shadow;
	border-radius:13px;
	font-size:0;
	@include transition( 0.3s, ease-in-out );

	// &:before  {

	//   font-family: "${font-name}";
	//   font-size: 40px;
	//   display: inline-block;
	//   content: $flex-direction-nav-icon-prev;
	//   color: $flex-direction-nav-icon-color;
	//   text-shadow: $flex-direction-nav-icon-text-shadow;

	// }

	// &.flex-next:before {

	//   content: $flex-direction-nav-icon-next;

	// }
	
  }


  //
  // Prev
  //

  .flex-prev {

	left: -10px;
	background:url(../images/icon-left-arrow-white.png) 40% center no-repeat #bebebe;
  }


  //
  // Next
  //

  .flex-next {

	right: -10px;
	background:url(../images/icon-right-arrow-white.png) 61% center no-repeat #bebebe;

  }


  //
  // Hover states
  //

  .flexslider:hover &{

	.flex-prev {

	  opacity: 0.7;
	  left: -15px;

	  &:hover{

		opacity: 1;

	  }

	}

	.flex-next {

	  opacity: 0.7;
	  right: -15px;

	  &:hover{

		opacity: 1;

	  }

	}

  }


  //
  // Disabled
  //

  .flex-disabled {

	opacity: 0.5!important;
	// filter: alpha(opacity=0);
	// cursor: default;
	// z-index: -1;

  }
}


//
// Pause/Play
//

.flex-pauseplay a {

  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000;

  &:before {

	font-family: "${font-name}";
	font-size: 20px;
	display: inline-block;
	content: $flex-pauseplay-icon-pause;

  }

  &:hover {

	opacity: 1;

  }

  &.flex-play:before {

	content: $flex-pauseplay-icon-play;

  }

}


//
// Control Nav
//

.flexslider .controls {

  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  z-index: 3000;
  li {

	margin: 0 6px;
	display: inline-block;
	zoom: 1;
	*display: inline;

  }

}


//
// Control paging
//

.flex-control-paging li {

  a {

	width: 16px;
	height: 16px;
	display: block;
	background: #666;
	background: $white;
	cursor: pointer;
	text-indent: -9999px;

	@include border-radius( 20px );

	&:hover {

	  background: #333;
	  background: rgba(25,120,190,0.5);

	}

	&.flex-active {

	  background: #000;
	  background-color: $denim;
	  cursor: default;

	}
  }
}


.flex-control-thumbs {

  margin: $flex-control-thumbs;
  position: static;
  overflow: hidden;

  li {

	width: 25%;
	float: left;
	margin: 0;

  }

  img {

	width: 100%;
	height: auto;
	display: block;
	opacity: .7;
	cursor: pointer;
	-moz-user-select: none;

	@include transition();

	&:hover {opacity: 1;}

  }

  .flex-active {

	opacity: 1;
	cursor: default;

  }
}
