.btn-primary,
.cta-button{
	border:1px solid #d4d8d9;
	background-image:url(../images/icon-right-arrow-white.png);
	background-position:95% center;
	background-repeat:no-repeat;
	border-radius:0;
	padding-right: 55px;
	color: $button-color-cta;

	&:hover,
	&:active,
	&:focus{

		color: $button-color-cta;
		text-decoration: none;
		opacity: 0.8;

	}
}

.cta-button{

	padding: 5px 55px 7px 12px;
	background-color: $button-background-cta;

	border: 1px $button-border-cta solid;
	color: $button-color-cta;

}

.cta-button-secondary{

	@extend .cta-button;

	color: $button-secondary-color;
	background-color: $button-secondary-background;
	border: none;
	white-space: nowrap;

	&:hover,
	&:active,
	&:focus{

		color: $button-secondary-color;

	}
}