/*
 * Divi builder styling
 */

/** Full Screen Layout **/
.full-screen{

  #et_builder_outer_content .et_pb_with_background.divi-container{

    padding-top: 0;

  }

  // top-most row containers (.container analog)
  #et_builder_outer_content .et_pb_with_background.divi-container .et_pb_row{

    padding: 0 10px;

    @include media-breakpoint-up(sm){
      width: 586px;
      max-width: 586px;
    }

    @include media-breakpoint-up(md){
      width: 778px;
      max-width: 778px;
    }

    @include media-breakpoint-up(lg){
      width: 1002px;
      max-width: 1002px;
    }

    @include media-breakpoint-up(xl){
      width: 1210px;
      max-width: 1210px;
    }

  }

  // divi main section
  #et_builder_outer_content .et_pb_gutters3 .et_pb_column_2_3.main,
  #et_builder_outer_content .et_pb_gutters3.et_pb_row .et_pb_column_2_3.main{

    max-width: 100%;
    width: 100%;
    margin-right: 0;

    @include media-breakpoint-up(md) {

      max-width: 55.5%;
      width: 55.5%;
      margin-right: 7%;

    }

  }

  // divi sidebar section
  #et_builder_outer_content .et_pb_gutters3 .et_pb_column_1_3.sidebar{

    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-top: 40px;
    margin-left: 0;

    @include media-breakpoint-up(md) {

      width: 29.4%;
      max-width: 29.4%;
      margin-top: 28px;
      margin-left: 7%;

    }

  }

  // force header styles in divi
  #et_builder_outer_content .et_pb_module h2{

    @extend h2;
    padding: 0;

  }

  #et_builder_outer_content .et_pb_module.subtitle h2{

    margin-bottom: 30px

  }

  #et_builder_outer_content .et_pb_module h3{

    margin-bottom: 20px;
    padding: 0;
    color: $color-h3;

  }

  #et_builder_outer_content a {

    color: $link-color;

    &:hover,
    &:active,
    &:focus {

      color: $link-color;
      text-decoration: underline;

      img {
        opacity: .8;
      }

    }

  }

  /*#et_builder_outer_content .cta-link{

    &:hover,
    &:active,
    &:focus{

      text-decoration: underline !important;

    }

  }*/

  #et_builder_outer_content .et_pb_module .cta-button{

    @extend .cta-button;

  }

  #et_builder_outer_content .et_pb_module .cta-link{

    @extend .cta-link;

  }

  #et_builder_outer_content .et_pb_module{

    li{

      margin: 10px 0;

    }

    ul.caret-bullet{

      @extend .caret-bullet;
      // margin-left: 14px;

      li{

        padding-left: 22px;
        margin: 5px 0;
        // list-style-image: $caret-right-blue;

      }

    }

  }

}