/*
 * Popups
 */

/** Browse Other Industries **/

#browse-other-wrapper{
  display: inline;
  position: relative
}

.browse-other-link{
  margin-left: 25px;
  font-size: 14px;
  color: $gray;

  &:hover,
  &:active,
  &:focus{
    color: $gray;
  }
}

#browse-other-list {

  padding: 5px;

  li {
    padding: 5px;
  }

}

