/** general **/
textarea{
  height: 75px !important;
}
.ginput_complex span{
  display: block;
}

.main input[type='submit']{
  margin-top: 20px;
}

.main input[type='radio']{
  margin-right: 10px;
}


// Search form
.search-form {
  @extend .form-inline;

  label {
    font-weight: normal;
    @extend .form-group;
  }

  .search-field {
    @extend .form-control;
  }

  .search-submit {
    @extend .btn;
    @extend .btn-secondary;
  }

}

/** Survey **/
body.survey {

  .wrap>.content ul li{
    background-image: none;
  }



  .gform_validation_container{
    display: none;
  }

  .gform_footer{
    margin-top: 25px;
    margin-left: 24px;
  }
}

