// Grid system
.main {
  @include make-col-ready();
  @include media-breakpoint-up(sm) {
    @include make-col($main-sm-columns);
    .sidebar-primary & {
      @include make-col($main-sm-columns - $sidebar-sm-columns);
    }
  }
}
.sidebar {
  @include make-col-ready();
  @include media-breakpoint-up(sm) {
    @include make-col($sidebar-sm-columns);
  }
}

/** override widths — increase by ~4.4%  **/
.container{

  padding: 0 10px;

  @include media-breakpoint-up(sm){
    max-width: 586px;
  }

  @include media-breakpoint-up(md){
    max-width: 778px;
  }

  @include media-breakpoint-up(lg){
    max-width: 1002px;
  }

  @include media-breakpoint-up(xl){
    max-width: 1210px;
  }
}

