/*
 * Slide-out Tab
 */
$slide-out-width: 300px;
$slide-out-tab-height: 46px;

#slide-out-tab-wrapper{
  position: fixed;
  top: auto;
  bottom: 0;
  right: 50%;
  width: $slide-out-width;
  margin-right: -$slide-out-width/2;
  background-color: $solitude;
  z-index: 250;

  @include media-breakpoint-up(sm){
    right: 25px;
    margin: 0;
  }

  .title{
    height: $slide-out-tab-height;
    padding: 10px 25px;
    margin-top: 0;
    background-color: $spindle;
    color: $color-link;
    font-weight: bold;
    cursor: pointer;

    /*&:hover,
    &:active,
    &:focus{
      color: $white;
    }*/
  }

  .opener,
  .closer{
    float: right;
  }

  .closer{
    display: none;
  }

  .slide-out-tab-content{
    display: block;
    max-height: calc(95vh - 46px);
    padding: 0 10px;
    overflow: auto;
  }

  li {
    list-style-type: none;
  }

  /* Let's Talk form styling */
  form {

    margin-top: 15px;

    ul{
      padding: 0;
      margin: 0;
    }

    input[type='text']{
      width: 280px;
      padding: 10px 15px;
      border: 1px $iron solid;
    }

    .gfield.gf_left_half input,
    .gfield.gf_right_half input{
      float: left;
      width: 138px;
    }

    .gfield.gf_left_half input{
      margin-right: 4px;
    }

    // honeypot
    .gform_validation_container {
      display: none;
    }

    .gform_footer{
      margin-top: 10px;
    }

    input[type='submit']{
      width: 280px;
      background-color: $brand-primary;
      color: $white;
    }

  }

  .validation_error,
  .validation_message{
    color: $red-berry;
    font-size: 14px;
    clear: both;
  }
  .validation_error{
    margin-top: -10px;
    margin-bottom: 10px;
  }


}